<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1> Lista de todos os cocktails </h1>
    <%= link_to 'Add a new cocktail', new_cocktail_path %>
    <% @cocktails.each do |cocktail| %>

      <h2>Name: <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
    <% end %>
  </div>
</div>
