<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Name: <%= @cocktail.name %></h1>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)%>
    <br>
    <%= link_to "See all", cocktails_path %>
  </div>
</div>
